# Archivos grandes de video y modelos
*.mp4
*.avi
*.mov
*.pt
*.npy
*.pkl
*.MP4
*.png

# Bandas satelitales y datos remotos
*.jp2
*.tif
*.tiff
*.hdf
*.nc
*.zip
*.tar
*.rar
*.7z

# Datos temporales o de ejecución
runs/
__pycache__/
*.log
*.tmp
*.bak

# Archivos de sistema
.DS_Store
Thumbs.db
Fruits.mp4
Fruits_run0.mp4

# Ignorar carpetas pesadas específicas
runs/
ultralytics-main/
yolov8env/

venice-remote-sensing-ndvi-2017-2025/data/results/*
Exercises/NDVI-Venice-remote-sensing-2017-2025/data/results/diferencia_ndvi.png
Exercises/NDVI-Venice-remote-sensing-2017-2025/data/results/ndvi_2017.png
Exercises/NDVI-Venice-remote-sensing-2017-2025/data/results/ndvi_2025.png




.idea/
.vscode/
Data\env/


# ⚠️ Pero no ignores este archivo específico
!Ejercicios\Trenes\object_counting_output.mp4